parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#is never read, only written#'
        - '#no value type specified in iterable type array#'